.character {
  margin: 25px 0;
  background-color: whitesmoke;
  outline: 2px solid black;

  &__container {
    display: flex;
    border-bottom: 1px solid black;
    padding: 10px 20px;
    align-items: baseline;
    background-color: lightgray;
    justify-content: space-between;
  }

  &__description {
    display: flex;
    align-items: baseline;

    h3 {
      margin: 8px 0;
    }
  }

  &__comments {
    width: 70%;
  }

  &__birth {
    margin: 0 10px;
  }
}

@media screen and (max-width: 768px) {
  .character {
    &__container {
      align-items: center;
      padding: 10px;
    }

    &__description {
      display: block;
      margin-right: 10px;
    }

    &__birth {
      margin: 0;
    }
  }
}