.comment {
  &__container {
    border: 1px solid gray;
    border-radius: 30px 0;
    padding: 10px 20px;
    margin: 15px auto;
    background-color: white;
    width: 91%;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin-bottom: 10px;
    width: 100%;

    &__author {
      display: flex;
      align-items: baseline;
      font-size: 14px;
      font-weight: bold;
      overflow: hidden;
      width: 70%;
    }

    &__time {
      text-align: end;
      width: 30%;
      margin: 0;
    }

    .fas {
      font-size: 25px;
      margin-right: 5px;
    }
  }

  &__text {
    padding: 5px 0;
    margin: 0;
    overflow: hidden;
  }
}

.hidden {
  display: none;
}

@media screen and (max-width: 768px) {
  .comment {
    &__container {
      padding: 10px 20px;
      width: 80%;
    }
  }
}
