.characters {
  padding: 30px;

  &__loading {
    text-align: center;
    font-size: 40px;
  }
}

.btn-loadMore {
  margin: 0 auto;
  display: block;

  .fa {
    margin-left: -12px;
    margin-right: 8px;
  }
}

@media screen and (max-width: 768px) {

  .characters {
    padding: 0 30px;
  }
}