.comment-form {
  width: 75%;
  margin: 5px 0 5px 26px;

  &__container {
    padding: 10px 0;

    h3 {
      padding-left: 26px;
    }
  }

  &__text {
    width: 100%;
    min-height: 80px;
  }

  &__btn {
    display: block;
    margin-left: auto;
  }
}

.comment-form__text, .comment-form__author {
  display: block;
  margin: 6px 0;
  border: 1px solid darkgray;
  box-sizing: border-box;

  &:hover {
    box-shadow: 0 0 8px black;
  }

  &:focus-visible {
    border: 1px solid black;
    outline: transparent;
  }
}

.error {
  color: red;
  font-size: 14px;
  margin-top: -5px;
  margin-bottom: 8px;
}

@media screen and (max-width: 768px) {
  .comment-form {
    width: 90%;
    margin: 5px auto;

    &__container {
      h3 {
        padding-left: 0;
        width: 90%;
        margin: 0 auto;
      }
    }

    &__author {
      width: 90%;
    }
  }
}
