.App {
  padding: 30px 0;
  width: 75%;
  margin: 0 auto;
  font-size: 16px;
}

.title {
  text-align: center;
}

.btn {
  background-color: black;
  color: white;
  padding: 5px 20px;
  border: 1px solid black;
  font-size: 16px;
  cursor: pointer;
  min-width: 160px;
  min-height: 32px;

  &:hover {
    box-shadow: 0 0 8px black;
  }
}

.hidden {
  display: none;
}

@media screen and (max-width: 768px) {
  .App {
    padding: 15px 0;
    width: 95%;
  }
  .title {
    font-size: 24px;
  }
  .btn {
    min-width: 116px;
    min-height: 26px;
    padding: 5px;
    font-size: 14px;
  }
}